html {
  text-align: center;
}
html, body {
    width: 100%; /* specify width on parent */
}
* {
    margin: 0; padding: 0; box-sizing: border-box; /* reset */
}

.butn{
    width: 250px;
    padding: 10px;
    margin: 2;
    cursor: pointer;
}
body{
  color : black;
  font-size : 40px;
  width: 20%;
  margin: 0 auto;
  background-color: orange;
}
#repos{
  color : black;
  font-size : 20px;
}
